.board {
  height: 800px;
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  position: static;
}

button {
  margin: 20px;
  font-size: 30px;
}

.warning {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  border: 1px solid;
  color: red;
}